*{
  margin: 0;
  padding: 0;
}
.todo-main{
  font-family: "Palanquin Dark", sans-serif;
  padding-top:5rem ;
  background-color: #1d3557;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  gap: 1rem;
}
.todo-enclosed{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.todo-outer{
  width: 30rem;
  background-color: #00a5cf;
  border: 1px solid #1d3557;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 35px #00a6cf42;
}
.todo-outer h1{
  color: #1d3557;
  font-family: "Palanquin Dark", sans-serif;
}
.todo-list{
    width: 100%;
    padding: 1rem;
    font-family: "Sriracha" ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.todo-head{
  display: flex;
  justify-content: center;
}
.todo-head input{
  width: 70%;
  border:2px solid #1d3557 ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem;
  font-family: inherit;
}
.todo-head button{
  width: 30%;
  color: white;
  padding: 0.5rem;
  border: 2px solid #1d3557;
  letter-spacing: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1d3557;
  font-family: inherit;

}
.todo-element{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #1d3557;
  border: 1px solid #1d3557;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1.5rem;
  letter-spacing: 2px;
  box-shadow: 0px 0px 25px #1d35577e;
}
.todo-data{
  display: flex;
  width: 85%;
  justify-content: flex-start;
  gap: 1rem;
}
.todo-element .icons{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-supporter{
  margin: 3rem 0rem;
  font-family: "Sriracha" ;
  color: white;
  letter-spacing: 3px;
}
.todo-body{
  margin-top: 10px;
  width: 15rem;
  padding: 1rem;
  background-color: #00a5cf;
  border: 1px solid #1d3557;
  border-radius: 5px;
  box-shadow: 0px 0px 35px #00a6cf42;
}

.supporter-element{
  margin:1rem auto;
  padding: 0.5rem 1rem;
  width: 80%;
  background-color: #1d3557;
  border-radius: 4px;
}
.supporter-element p{
  font-family: inherit;
  letter-spacing: 2px;
}
@media (max-width:1200px) {

  .todo-body{
    width: 10rem;
  }
  .todo-outer{
    width: 20rem;
  }
  .todo-outer h1{
    letter-spacing: 3px;
  }
  .todo-element{
    width: 80%;
  }
}
@media (max-width:886px) {
  .todo-enclosed{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:460px) {
  .todo-outer{
    width: 16rem;
  }
}